@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Manrope:wght@500&family=Montserrat&family=Press+Start+2P&display=swap');



H1{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Press Start 2P', sans-serif;
}
a{
    color:black;
    font-weight:bold;
    
}
em{
    color:#168314d6;
}

body{ background-image: url(images/BG\ \(1\).jpg) }
 {background-attachment: fixed;}
h1 {
    background-color: black; border-radius: 25% 50%;
    color: white;
}


    h2{
       
       /* je ne savais pas comment arrodire certain angle */
       
        border-top-left-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 0px;
        background: linear-gradient(blue, rgb(255, 255, 255))}
    h2{blackgroun }
      
       h2{
        width: 1300px;
        height: 23px;
      }

     
    